
<div id="post_content">
  <p id="notice"><%= notice %></p>

  <p class="title">
    <h1><%= @post.title %></h1>
  </p>
  <p class="date">
    Submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.username %>
    <% if current_user == @post.user %>
      | <%= link_to 'Edit', edit_post_path(@post) %>
      | <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?'} %>
    <% end %>
  </p>

  <p class="body">
    <%= simple_format(@post.body) %>
  </p>
</div>